- const columns = ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'Total']

doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Calendário de Expedientes
    link(rel="stylesheet", href="index.css")
  body
    h1 Calendário de Expedientes de #{year}

    main
      each month in calendar
        div
          h2= month.name
          table
            thead
              tr
                each column in columns
                  th= column
            tbody
              each week in month.weeks
                tr
                  each day in week.days
                    if day
                      td
                        div(class="day")
                          strong= day.date
                          span= day.hours
                    else
                      td= '-'
                  td= week.hours
            tfoot
              tr
                td(colspan=8)
                  div
                    span Carga horária total:
                    span= month.hours
              tr
                td(colspan=8)
                  div
                    span Jornada padrão:
                    span= month.normalHours
              tr
                td(colspan=8)
                  div
                    span Excedente de horas:
                    span= month.overtimeHours

